@mixin button($color: green) {
	position: relative;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	min-width: 24px;
	height: 24px;
	padding: 3px;

	color: rgb(0 0 0 / 70%);

	border: 0;
	background-color: transparent;

	& > i {
		font-size: 18px;
	}

	&:active,
	&.active {
		color: $color;
	}

	&:hover {
		cursor: pointer;

		background-color: #EEE;
	}
}
