*,
::after,
::before {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;

	font-family: Roboto, sans-serif;
}

.root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

button {
	cursor: pointer;

	border: 0;
	outline: none;
	background-color: transparent;
}

.excel {
	position: relative;

	max-width: 100%;
	height: 100%;

	color: #888;

	font-size: 0.8rem;
}