$black: #000;
$white: #FFF;
$border_color:  #C0C0C0;

$header_height: 34px;
$toolbar_height: 40px;
$formula_height: 24px;
$info_cell_width: 40px;
$row_height: 24px;
$cell_width: 120px;

// dashboard
$db_header_height: 64px;

// colors
$primary_color: #3C74FF;
