.excel__toolbar {
	position: absolute;
	top: $header_height;
	right: 0;
	left: 0;

	display: flex;
	align-items: center;

	height: $toolbar_height;
	padding: 7px 10px;

	border-top: 1px solid $border_color;
	border-bottom: 1px solid $border_color;

	& .button {
		@include button(green);
	}
}
